<section>
    <div class="ProfilePictureSecion">
        <h2 class="userName">{{username}}</h2>
        <img class="ProfilePicture" src="{{{profilePictureUrl}}}" alt="Profile Picture">

        <button id="editProfilePictureButton">
            Edit Picture
        </button>
        <button id="CanceleditProfilePictureButton" hidden>
            Cancel
        </button>
        <form action="/upload" enctype="multipart/form-data" method="post" id="uploadPicture" hidden>
            <input type="file" name="imageUpload" id="imageUpload" accept="image/png, image/jpeg" />
            <input type="submit" value="Submit">
        </form>
    </div>


    <div class="BioSection">
        <p class="userBio">{{{userBio}}}</p>
        <form action="/profile" method="POST" id="changeBio" hidden>
            <input type="text" name="bioInput" id="bioInput" value="{{{userBio}}}" />
            <input type="submit" value="Submit">
        </form>
        <button class="editProfileBioButton" id="editProfileBioButton">Edit Bio</button>
        <button id="CancelEditBioButton" hidden>
            Cancel
        </button>
    </div>

    <div class="FriendsSection" id="FriendsSection">
        <h2 class="FriendsTitle">Friends</h2>
        <ul class="FriendsList" id="FriendsList">
            {{#each friends}}
            <li class="FriendsListItem" id="FriendsListItem">
                <a class="SendToUsersProfile" id="SendToUsersProfile" href="/profile/{{this}}">
                    {{this}}
                </a>
            </li>
            {{/each}}
        </ul>
        {{#if (exists PendingFriendRequests) }}
        <h2 class="PendingFriendRequestTitle">Pending Friend Requests</h2>

        <ul class="FriendsList" id="FriendsList">
            {{#each PendingFriendRequests}}
            <li class="FriendsListItem" id="FriendsListItem">
                <a class="SendToUsersProfile" id="SendToUsersProfile" href="/profile/{{this.username}}">
                    {{this.username}}
                </a>
                <div class="FriendRequestButtonsOptions" id="FriendRequestButtonsOptions">
                    <form action="WillGetThisFromClientSide" method="post" id="FriendRequestPost">
                        <input type="hidden" name="FriendRequestId" id="FriendRequestId" value={{this.userId}}>
                        <button type="submit" class="AcceptFriendRequestButton" id="AcceptFriendRequestButton">
                            Accept
                        </button>
                        <button type="submit" class="DeclineFriendRequestButton" id="DeclineFriendRequestButton">
                            Decline
                        </button>
                    </form>
                </div>

            </li>
            {{/each}}
        </ul>
        {{/if}}

    </div>

    <div class="TestsSection">
        <h2>Tests</h2>
        <ul>
            {{#each tests}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>


    {{!-- //TODO: Add a button to change whatever the user wants to change

    Will create post request to /profile with the following data:
    {
    "bioInput": "whatever the user wants to change"
    }
    will then call the updateUser function depending on what the user wants to change
    will then redirect to /profile
    --}}




</section>