<section>


    <div class="ProfilePictureSecion">
        <h2 class="displayName" id="displayName">{{displayname}}</h2>
        <img class="ProfilePicture" src="{{{profilePictureUrl}}}" alt="Profile Picture">
        {{#if showRequestButton}}
        <form action="/profile/{{displayname}}" method="post" id="sendFriendRequest">
            <label for="displayname">
                <input type="hidden" id="displayname" name="displayname" value="{{displayname}}">
                <button type="submit" value name="SendFriendRequestButton" id="SendFriendRequestButton">Send Friend
                    Request</button>
        </form>
        {{/if}}
    </div>


    {{!-- TODO: Add a button to enable friend request, maybe Add friend. Also if this user is already a friend dont show
    the button and maybe show
    a remove friend button

    also show total number of friends a user has, and all the tests they have completed along with their stats
    --}}
    <div class="BioSection">
        <p class="userBio">{{{userBio}}}</p>
    </div>
    <div class="TestsSection">

        <h2>Tests</h2>
        <ul>
            {{#each tests}}
            <li>{{this}}</li>
            {{/each}}
        </ul>

    </div>

    <div class="CommentsSection" id="CommentsSection">

        <h4>Post a Comment</h4>
        <form action="/postComment" method="POST" id="addComment">
            <input type="text" name="commentInput" id="commentInput" />
            <input type="hidden" name="profileId" id="profileId" value="{{userId}}" />
            <button type="submit" value="Submit">Post</button>
        </form>
        <h2>Comments</h2>
        <ul>
            {{#each comments}}
            <div class="CommentItem" id="CommentItem">
                <h5><a class="SendToUsersProfile" id="SendToUsersProfile" href="/profile/{{this.AuthorDisplayName}}">
                        {{this.AuthorDisplayName}}
                    </a></h5>
                <li>
                    <p class="CommentText">{{this.commentText}}</p>
                </li>
            </div>
            {{/each}}
        </ul>
    </div>
</section>