<section>
    <div class="ProfilePictureSecion">
        <h2 class="displayName">{{displayname}}</h2>
        <img class="ProfilePicture" src="{{{profilePictureUrl}}}" alt="Profile Picture">

        <button id="editProfilePictureButton">
            Edit Picture
        </button>
        <button id="CanceleditProfilePictureButton" hidden>
            Cancel
        </button>
        <form action="/upload" enctype="multipart/form-data" method="post" id="uploadPicture" hidden>
            <input type="file" name="imageUpload" id="imageUpload" accept="image/png, image/jpeg" />
            <input type="submit" value="Submit">
        </form>
        <h3>Lifetime Speed : {{AverageWPM}} WPM</h3>
        <h3>Lifetime Accuracy : {{AverageAccuracy}}%</h3>
    </div>


    <div class="BioSection">
        <h4>Bio</h4>
        <p class="userBio">{{{userBio}}}</p>
        <form action="/profile" method="POST" id="changeBio" hidden>
            <input type="text" name="bioInput" id="bioInput" value="{{{userBio}}}" />
            <input type="submit" value="Submit">
        </form>
        <button class="editProfileBioButton" id="editProfileBioButton">Edit Bio</button>
        <button id="CancelEditBioButton" hidden>
            Cancel
        </button>
    </div>


    <div class="FriendsSection" id="FriendsSection">
        {{#if friends}}
        <h2 class="FriendsTitle">Friends</h2>
        <ul class="FriendsList" id="FriendsList">
            {{#each friends}}
            <li class="FriendsListItem" id="FriendsListItem">
                <a class="SendToUsersProfile" id="SendToUsersProfile" href="/profile/{{this}}">
                    {{this}}
                </a>
            </li>
            {{/each}}
        </ul>
        {{/if}}

        {{#if PendingFriendRequests}}
        <h2 class="PendingFriendRequestTitle">Pending Friend Requests</h2>
        <ul class="FriendsList" id="FriendsList">
            {{#each PendingFriendRequests}}
            <li class="FriendsListItem" id="FriendsListItem">
                <a class="SendToUsersProfile" id="SendToUsersProfile" href="/profile/{{this.displayname}}">
                    {{this.displayname}}
                </a>
                <div class="FriendRequestButtonsOptions" id="FriendRequestButtonsOptions">
                    <form action="WillGetThisFromClientSide" method="post" id="FriendRequestPost">
                        <input type="hidden" name="FriendRequestId" id="FriendRequestId" value={{this.userId}}>
                        <button type="submit" class="AcceptFriendRequestButton" id="AcceptFriendRequestButton">
                            Accept
                        </button>
                        <button type="submit" class="DeclineFriendRequestButton" id="DeclineFriendRequestButton">
                            Decline
                        </button>
                    </form>
                </div>

            </li>
            {{/each}}
        </ul>
        {{/if}}

    </div>

    {{#if tests}}
    <div class="TestsSection" id="TestsSection">
        <h2>Recently Completed Tests</h2>
        <ul>
            {{#each tests}}
            <div class="TestInformation" id="TestInformation">
                <li>
                    <h3 id="testTitle">{{this.testTitle}}</h3>
                    <p id="testStats">Accuracy:{{this.Accuracy}} WPM:{{this.WPM}} </p>
                </li>

            </div>
            {{/each}}
        </ul>

    </div>
    {{/if}}

    <div class="CommentsSection" id="CommentsSection">

        <h4>Post a Comment</h4>
        <form action="/postComment" method="POST" id="addComment">
            <input type="text" name="commentInput" id="commentInput" />
            <input type="hidden" name="profileId" id="profileId" value="{{userId}}" />
            <button type="submit" value="Submit">Post</button>
        </form>
        <h2>Comments</h2>
        <ul>
            {{#each comments}}
            <div class="CommentItem" id="CommentItem">
                <h5><a class="SendToUsersProfile" id="SendToUsersProfile" href="/profile/{{this.AuthorDisplayName}}">
                        {{this.AuthorDisplayName}}
                    </a></h5>
                <li>
                    <p class="CommentText">{{this.commentText}}</p>
                </li>

                <form action="/deleteComment" method="POST" id="deleteComment">
                    <input type="hidden" name="commentId" id="commentId" value="{{this._id}}" />
                    <input type="hidden" name="profileId" id="profileId" value="{{../userId}}" />
                    <button type=" submit" value="Submit">Delete</button>
                </form>
            </div>
            {{/each}}
        </ul>
    </div>


    {{!-- //TODO: Add a button to change whatever the user wants to change

    Will create post request to /profile with the following data:
    {
    "bioInput": "whatever the user wants to change"
    }
    will then call the updateUser function depending on what the user wants to change
    will then redirect to /profile
    --}}




</section>